<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Are you ready to Socialyze?</h1>

  <p>Your analytics are ready. Click http://www.socialyze.io/results/<%= @user.twitter_result.id %> to get view your results.</p>

  <p>The Socialyze Team</p>

  </body>
</html>