<div class="row" id="signup">
<h1 class="text-center">Sign Up!</h1>
  <div class="col-md-5 col-md-offset-1" id="signup-form">
    <%= render 'form', object: @user %>
  </div>

  <%= image_tag("http://lorempixel.com/300/300/abstract/1/", :class => "img-responsive col-md-6") %>
</div>
