<div class="jumbotron" id="home-splash">

  <img src="https://s3-us-west-1.amazonaws.com/socialyze/socialyze2.png" class="img-responsive center-block" id="home-logo">
  <h1 class="text-center" id="glyphs">
    <i class="fa fa-connectdevelop"></i>
    <i class="fa fa-area-chart"></i>
    <i class="fa fa-bar-chart"></i>
    <i class="fa fa-line-chart"></i>
  </h1>
  <h2 class="text-center">Social Media Analytics</h2>
  <button type="button" class="btn btn-social btn-lg center-block" data-toggle="modal" data-target="#sign-up">
  Sign up
  </button>
</div>

<a href="/auth/twitter">Get Started with Twitter</a>



