<h1>Twitter</h1>
<h4><small>{{twitter.test}}</small></h4>

  <a href="/auth/twitter">Get Started with Twitter</a><br>

  <ul>
    <li ng-repeat="tweet in twitter.tweetList.tweets">
    {{tweet.tweet_text}}</li>
  </ul>

<!-- <svg class="chart"></svg> -->



<word-cloud></word-cloud>