/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$fontBlue: #4099FF;
$backgroundColor: #c0deed;

body {
  background-color: $backgroundColor; 
}


// #####################################################
// ################### Shared Nav Bar ##################
// #####################################################
.navbar {
padding-right: 20px;
padding-top: 5px;
border-radius: 0;
margin-bottom: 0;
  li {
    color: #fff;
  }
  .fa {
    color: #fff;
  }
}


.dropdown-menu {
  li {
    color: $fontBlue;
  }
}

.btn-social {
  background-color: $fontBlue;
}

#white-text {
  color: #fff;
}

.navbar-left {
  button {
    background-color: $fontBlue;
  }
  a {
    position: absolute;
    height: -10px;
  }
}
// #####################################################
// ############ Angular Template Home Page #############
// #####################################################
#home-splash {
  background-image: url('https://s3-us-west-1.amazonaws.com/socialyze/wallpaper.jpg');
  min-height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 20%;
  padding-right: 20%;
}

.what {
  padding-top: 20px;
  .icon {
    padding-top: 20px;
  }
  p {
    font-size: 2em;
  }
}

#glyphs {
  // color: #fff;
}

// Bar Graph Styling
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

// #####################################################
// ############ Twitter Template #######################
// #####################################################

#twitter-template-container {
  text-align: center;
}

.twitter-graph  {
  display: inline-block;
  background-color: white;
  width: 70vw;
}

.graph-header {
  background-color: #4099FF;
  height: 80px;
}


