// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

h2 {
  font-family: $fontOswald; 
}

.results-header {
  margin-top: 50px;
  color: #fff;
  background-color: $backgroundDarkBlue;
  font-family: $fontOswald;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    font-size: 5em;
  }
}

.pie-graph {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
    h2 {
    font-family: $fontOswald;
    font-size: 4em;
    color: $fontBlue;
  }
}

.bar-graph {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    font-family: $fontOswald;
    font-size: 4em;
    color: $fontBlue;
  }
}

.results-table {
  margin-top: 20px;
  background-color: $backgroundDarkBlue;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  h2 {
    color: white;
    font-family: $fontOswald; 
  }
  .blue {
    background-color: $backgroundColor;
  }
  .med-blue {
    background-color: $medBlue;
  }
  .light-blue {
    background-color: $fontBlue;
  }
}