// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';


#signup {
  margin-left: 5px;
  margin-right: 5px;

}

#signup-form {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 10px;
  h1 {
    color: #000;
    font-family: $fontOswald;
  }
}

#signup-splash {
  background-image: url("worldmap.png");
  height: 660px;
  color: #000;
  // text-shadow: 1px 1px #000; 
}

#user-form {
  padding: 20px;

}

#user-show {
  margin-top: 50px; 
  margin-bottom: 20px;
  background-color: $backgroundDarkBlue;
  padding-bottom: 40px;
  padding-top: 20px;
  color: #fff;
  h1  {
    font-size: 5em;
    font-family: $fontOswald;
  }
  small {
    color: #c0deed;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-color: $backgroundDarkBlue;
}

#user-show-result {
  margin-top: 50px;
  background-color: $backgroundDarkBlue;
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
  color: #fff;
  h1  {
    font-size: 5em;
    font-family: $fontOswald;
  }
  small {
    color: #c0deed;
  }
  p {
    color: #fff;
    a {
      color: $fontBlue;
    }
  }
}

#user-show-update {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 75px;
  background-color: $backgroundDarkBlue;
  small {
    color: #fff;
    font-family: $fontRoboto;
  }
}

#sample-graph {
  margin-bottom: 20px;
  h1 {
    font-family: $fontOswald;
    color: $fontBlue;
  }
}