@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto+Condensed);

$fontOswald: 'Oswald', sans-serif;
$fontRoboto: 'Roboto Condensed', sans-serif;
$fontBlue: #4099FF;
$backgroundColor: #c0deed;
$backgroundDarkBlue: #0084b4;